@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  body {
    @apply font-primary bg-black text-white  leading-loose;
  }
}

.glow {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 200px 90px #c026d3;  
}
